*.bak
*.css.map
*.js.map
*.py[c,o]
*.swo
*.swp
.coverage
.DS_Store
.hypothesis
.idea/*
.reviewboardrc
.tags*
.vagrant
bower_components
build/*
config.rb
env
htmlcov
libpeerconnection.log
log
node_modules
npm-debug.log
static/*
leetcode-env/*
*.mo
.vscode
venv/